<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{ siteUrl }}"><img src="./img/logo-01.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ siteUrl }}">
                            Startpagina
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ siteUrl }}#over-taboka">
                            Over Taboka
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ siteUrl }}paarden">
                            Onze Paarden
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ siteUrl }}kalender">
                            Kalender
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ siteUrl }}contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if entry.heroImage|length %}
    <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('{{ entry.heroImage.one().getUrl('heroCompressed') }}');">
    {% elseif entry.section.handle == 'paardInfo' %}
    <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('{{ entry.foto.one().getUrl('heroCompressed') }}');">
    {% else %}
    <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('img/horse-eye.jpg');">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <!--<h1>TABOKA Hoeve</h1>
                        <h3>A Badass Bootstrap 4 UI Kit based on Material Design.</h3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>